@import "variables";

:root {
  --wp-admin-border-width-focus: 1px solid #000000;
}

.wp-block.wp-block-post-title.block-editor-block-list__block.editor-post-title.editor-post-title__input.rich-text {
  max-width: 900px;
}

.block-editor-default-block-appender {
  max-width: 900px;
}

.block-editor-default-block-appender__content {
  max-width: 900px;
  //padding: 0 32px 0 32px;
}

.wp-block-if-blocks-if-testimonials {
  max-width: calc(900px) !important;
  padding: 38px 32px 0 32px;
  background-color: $white;
  border-radius: 8px;
}

.block-editor-inner-blocks {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.block-editor-block-list__block.wp-block {
  max-width: 900px;
  border-radius: 8px;
}

.block-editor-block-list__block.wp-block > [data-type="if-blocks/testimonial-item"] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 38px;
  padding: 26px 22px;
  background-color: $white;
  border: 1px solid rgba(189, 198, 206, 0.6);

  .wp-block-if-blocks-if-testimonials-img {
	position: relative;

	&.is-loading img {
	  opacity: 0.3;
	}

	.components-spinner {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  margin: auto;
	}
  }

  &.is-selected {
	border: var(--wp-admin-border-width-focus);
  }
}

.testimonial-info {
  width: 69%;
  height: auto;

  h4, p {
	padding: 10px 12px;
	background-color: rgba(237, 236, 236, 0.6);
	border-radius: 6px;
	//box-shadow: inset 0 0 0 1px $midGrey;
  }

  h4 {
	margin-bottom: 24px !important;
  }

  p {
	min-height: 110px;
	padding: 16px 14px;
  }

  .block-editor-rich-text__editable.rich-text {
	margin: 0;
  }
}

.testimonial-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  border-radius: 100%;

  img {
	border-radius: 100%;
  }

  .components-placeholder.components-placeholder {
	background-color: rgba(237, 236, 236, 0.65);
	box-shadow: inset 0 0 0 1px transparent;
  }

  .block-editor-media-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 230px;
	height: 230px;
	border-radius: 100%;
  }

  .components-button.block-editor-media-placeholder__button.block-editor-media-placeholder__upload-button.is-primary {
	background-color: #000000;
  }

  .components-button.is-tertiary {
	color: #000000;

	&:focus {
	  outline: 1px solid $grey;
	}
  }

  .components-form-file-upload {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
  }

  .components-placeholder.is-medium .components-placeholder__fieldset .components-button, .components-placeholder.is-small .components-placeholder__fieldset .components-button {
	margin-left: auto;
	margin-right: auto;
  }
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 900px !important;
}
